<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.upload_ziguang.gb1400.mapper.CarRealIllegalMapper">
  <resultMap id="BaseResultMap" type="com.example.upload_ziguang.gb1400.domain.CarRealIllegal">
    <!--@mbg.generated-->
    <!--@Table car_real_illegal-->
    <id column="id" property="id" />
    <result column="sbbh" property="sbbh" />
    <result column="zqmj" property="zqmj" />
    <result column="clfl" property="clfl" />
    <result column="hpzl" property="hpzl" />
    <result column="hphm" property="hphm" />
    <result column="xzqh" property="xzqh" />
    <result column="wfdd" property="wfdd" />
    <result column="lddm" property="lddm" />
    <result column="ddms" property="ddms" />
    <result column="wfdz" property="wfdz" />
    <result column="wfsj" property="wfsj" />
    <result column="wfsj1" property="wfsj1" />
    <result column="wfxw" property="wfxw" />
    <result column="scz" property="scz" />
    <result column="bzz" property="bzz" />
    <result column="zpsl" property="zpsl" />
    <result column="zpwjm" property="zpwjm" />
    <result column="zpstr1" property="zpstr1" />
    <result column="zpstr2" property="zpstr2" />
    <result column="zpstr3" property="zpstr3" />
    <result column="wfspdz" property="wfspdz" />
    <result column="zpstr4" property="zpstr4" />
    <result column="lng" property="lng" />
    <result column="lat" property="lat" />
    <result column="status" property="status" />
    <result column="cjjg" property="cjjg" />
    <result column="upload_time" property="uploadTime" />
    <result column="spdir" property="spdir" />
    <result column="memo" property="memo" />
    <result column="is_leave" property="isLeave" />
    <result column="is_ok" property="isOk" />
    <result column="have_pic" property="havePic" />
    <result column="finish1" property="finish1" />
    <result column="finish2" property="finish2" />
    <result column="finish3" property="finish3" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, sbbh, zqmj, clfl, hpzl, hphm, xzqh, wfdd, lddm, ddms, wfdz, wfsj, wfsj1, wfxw, 
    scz, bzz, zpsl, zpwjm, zpstr1, zpstr2, zpstr3, wfspdz, zpstr4, lng, lat, `status`, 
    cjjg, upload_time, spdir, memo, is_leave, is_ok, have_pic, finish1, finish2, finish3
  </sql>
</mapper>